<%# on veut que le mot soit fait avec des lettres de la liste %>
<%# on veut que le mot soit dans le dictionnaire anglais %>

<h1>Now your results</h1>
<h3><%= @result %></h3>
<p>Your word : <%= params[:word] %></p>
<p>Your score : <%= @score %></p>
